# Write Python Code to print these patterns

# Part Z3

In [1]:
def operation(n):
        for i in range(n):
            for j in range(n-i-1):
                print(" ",end="")
            for j in range(2*i+1):
                print('*',end="")
            for j in range(n-i-1):
                print(" ",end="")
            print()
        for i in range(1,n):
            for j in range(i):
                print(' ',end="")
            for j in range(2*(n-i)-1):
                print('*',end="")
            for j in range(i):
                print(' ',end="")
            print()
operation(int(input("Enter n : ")))

Enter n : 5
    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

### Part Z4

In [2]:
def operation(n):
        for i in range(n):
            for j in range(n-i-1):
                print(" ",end="")
            for j in range(2*i+1):
                print(i+1,end="")
            for j in range(n-i-1):
                print(" ",end="")
            print()
        for i in range(1,n):
            for j in range(i):
                print(' ',end="")
            for j in range(2*(n-i)-1):
                print(n-i,end="")
            for j in range(i):
                print(' ',end="")
            print()
operation(int(input("Enter n : ")))

Enter n : 5
    1
   222
  33333
 4444444
555555555
 4444444
  33333
   222
    1

### Part Z5

In [3]:
def operation(n):
        for i in range(n):
            for j in range(n-i-1):
                print(" ",end="")
            for j in range(2*i+1):
                print(j+1,end="")
            for j in range(n-i-1):
                print(" ",end="")
            print()
        for i in range(1,n):
            for j in range(i):
                print(' ',end="")
            for j in range(2*(n-i)-1):
                print(j+1,end="")
            for j in range(i):
                print(' ',end="")
            print()
operation(int(input("Enter n : ")))

Enter n : 5
    1
   123
  12345
 1234567
123456789
 1234567
  12345
   123
    1

### Part Z6

In [4]:
def operation(n):
    t=1
    for i in range(n):
        t=i+1
        for j in range(n-i-1):
            print(' ',end="")
        for j in range(i):
            print(t,end="")
            t+=1
        print(t,end="")
        t-=1
        for j in range(i):
            print(t,end="")
            t-=1
        for j in range(n-i-1):
            print(' ',end="")
        print()
    for i in range(1,n):
        t=n-i
        for j in range(i):
            print(' ',end="")
        for j in range(n-i-1):
            print(t,end="")
            t+=1
        print(t,end="")
        t-=1
        for j in range(n-i-1):
            print(t,end="")
            t-=1
        for j in range(i):
            print(' ',end="")
        print()
operation(int(input("Enter n : ")))

Enter n : 5
    1
   232
  34543
 4567654
567898765
 4567654
  34543
   232
    1

### Part Z7

In [6]:
def operation(n):
    t=1
    for i in range(n):
        t=n
        for j in range(n-i-1):
            print(' ',end="")
        for j in range(i):
            print(t,end="")
            t-=1
        print(t,end="")
        t+=1
        for j in range(i):
            print(t,end="")
            t+=1
        for j in range(n-i-1):
            print(' ',end="")
        print()
    for i in range(1,n):
        t=n
        for j in range(i):
            print(' ',end="")
        for j in range(n-i-1):
            print(t,end="")
            t-=1
        print(t,end="")
        t+=1
        for j in range(n-i-1):
            print(t,end="")
            t+=1
        for j in range(i):
            print(' ',end="")
        print()
operation(int(input("Enter n : ")))

Enter n : 5
    5
   545
  54345
 5432345
543212345
 5432345
  54345
   545
    5

### 62-A

In [8]:
def operation(n):
    for i in range(n):
        for j in range(2*n-1):
            if(j%2):
                print(' ',end="")
            else:
                print('*',end="")
        print()
operation(int(input("Enter n : ")))

Enter n : 7
* * * * * * *
* * * * * * *
* * * * * * *
* * * * * * *
* * * * * * *
* * * * * * *
* * * * * * *

### 62-B

In [10]:
def operation(n):
    for i in range(n):
        if(i==0 or i==n-1):
            print('*'*(n))
        else:
            print('*'+' '*(n-2)+'*')
operation(int(input("Enter n : ")))

Enter n : 7
*******
*     *
*     *
*     *
*     *
*     *
*******

### 63-C

In [15]:
def operation(n):
    for i in range(n):
        for j in range(n):
            if(j==i):
                print('\\',end="")
            elif(j==n-i-1):
                print('/',end="")
            else:
                print('*',end="")
        print()
operation(int(input("Enter n : ")))

Enter n : 7
\*****/
*\***/*
**\*/**
***\***
**/*\**
*/***\*
/*****\