# Write Python Code to print these patterns

### Part V

In [12]:
def operation(n):
    t=1
    for i in range(n):
        t=i+1
        for j in range(n-i-1):
            print(' ',end="")
        for j in range(i):
            print(t,end="")
            t+=1
        print(t,end="")
        t-=1
        for j in range(i):
            print(t,end="")
            t-=1
        for j in range(n-i-1):
            print(' ',end="")
        print()
operation(int(input("Enter n : ")))

Enter n : 5
    1
   232
  34543
 4567654
567898765

### Part W

In [13]:
def operation(n):
    t=1
    for i in range(n):
        t=n
        for j in range(n-i-1):
            print(' ',end="")
        for j in range(i):
            print(t,end="")
            t-=1
        print(t,end="")
        t+=1
        for j in range(i):
            print(t,end="")
            t+=1
        for j in range(n-i-1):
            print(' ',end="")
        print()
operation(int(input("Enter n : ")))

Enter n : 5
    5
   545
  54345
 5432345
543212345

### Part X

In [14]:
def operation(n):
    for i in range(n):
        for j in range(i):
            print(' ',end="")
        for j in range(2*(n-i)-1):
            print('*',end="")
        for j in range(i):
            print(' ',end="")
        print()
operation(int(input("Enter n : ")))

Enter n : 5
*********
 *******
  *****
   ***
    *

### Part Y

In [15]:
def operation(n):
    for i in range(n):
        for j in range(i):
            print(' ',end="")
        for j in range(2*(n-i)-1):
            print(n-i,end="")
        for j in range(i):
            print(' ',end="")
        print()
operation(int(input("Enter n : ")))

Enter n : 5
555555555
 4444444
  33333
   222
    1

### Part Z

In [16]:
def operation(n):
    for i in range(n):
        for j in range(i):
            print(' ',end="")
        for j in range(2*(n-i)-1):
            print(j+1,end="")
        for j in range(i):
            print(' ',end="")
        print()
operation(int(input("Enter n : ")))

Enter n : 5
123456789
 1234567
  12345
   123
    1

### Part Z1

In [19]:
def operation(n):
    for i in range(n):
        t=n-i
        for j in range(i):
            print(' ',end="")
        for j in range(n-i-1):
            print(t,end="")
            t+=1
        print(t,end="")
        t-=1
        for j in range(n-i-1):
            print(t,end="")
            t-=1
        for j in range(i):
            print(' ',end="")
        print()
operation(int(input("Enter n : ")))

Enter n : 5
567898765
 4567654
  34543
   232
    1

### Part Z2

In [21]:
def operation(n):
    for i in range(n):
        t=n
        for j in range(i):
            print(' ',end="")
        for j in range(n-i-1):
            print(t,end="")
            t-=1
        print(t,end="")
        t+=1
        for j in range(n-i-1):
            print(t,end="")
            t+=1
        for j in range(i):
            print(' ',end="")
        print()
operation(int(input("Enter n : ")))

Enter n : 5
543212345
 5432345
  54345
   545
    5